<!DOCTYPE html>
<html>
	<head>
	  <title>Rainforest</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<h1>Welcome to Rainforests!</h1>
		<ul>
			<li><%= link_to "Add New Product", "/products/new" %></li>
			<li><%= link_to "Back to Main Menu", "/" %></li>
		</ul>
		<%= yield %>
	</body>
</html>
